*,
*::after,
*::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* root variable */
:root{
  --color-text:#234894;
  --color-btn:#219F95;
  --color-badge:#AFCEDD;
  --color-body:#1E1E1E;
  --color-body-light:#696969;
  --color-white:#ffffff;
  --avatar-size:40px;
}

html{
  font-size: 62.5%;
}

.container{
  max-width: 1980px;
  margin: 0 auto;
}

/* Header */

.header{
  padding: 2rem;
}
.header h1{
  font-size: 18px;
  font-weight: 900;
  color: var(--color-body);
  padding: 0 1rem;
}

/* Cards */

.cards{
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  column-gap: 3.5rem;
  padding: 1rem 2rem;
}

.cards__item{
  display: flex;
  flex-direction: column;
  justify-content: space-between ;
  border-radius: 10px;
  gap: 1rem;
  padding: 2rem;
  transition: all .3s ease-in-out;
}

.cards__item:hover{
  transform: scale(1.05);
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, .1);
}

.cards__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cards__title{
  color: var(--color-text);
  font-weight: 600;
  font-size: 13px;
  margin-right: 1rem;
}

.cards__date{
  color: var(--color-body-light);
  font-size: 10px;
}

/* Main */

.main__title{
  font-size: 16px;
  font-weight: 900;
  color: var(--color-body);
}

.main__subtitle{
  font-size: 10px;
  font-weight: 400;
  color: var(--color-body-light);
}

/* Footer */

.cards__footer{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}

.cards__profile{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.cards__profile__img{
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 8px;
  overflow: hidden;
}

.cards__profile__img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cards__profile__text{
  font-size: 12px;
  font-weight: 700;
  color: var(--color-body);
}

/* Btn and Badge */

.btn{
  background-color: transparent;
  border: 0;
  padding: 1.5rem 1rem;
  border-radius: 8px;
  font-size: 12px;
}
.btn--primary{
  background-color: var(--color-btn);
  color: var(--color-white);
}
.badge{
  padding: 4px 10px;
  background-color: var(--color-badge);
  color: var(--color-text);
  font-weight: 900;
  font-size: 15px;
  border-radius: 6px;
}

/* Media Query */

@media screen and (min-width:480px) {
  .header h1{
    font-size: 22px;
  }
  .cards__item{
    gap: 1.5;
  }
  .badge{
    padding: 6px 14px;
    font-size: 18px;
  }
  .cards__title{
    font-size: 16px;
  }
  .cards__date{
    font-size: 12px;
  }
  .main__title{
    font-size: 18px;
  }
  .main__subtitle{
    font-size: 12px;
  }
  .cards__profile__text{
    font-size: 16px;
  }
  .btn{
    font-size: 16px;
    padding: 2rem 1.5rem;
  }
}

@media screen and (min-width:768px) {
  .cards{
    grid-template-columns: repeat(2, 1fr);
  }
  .cards__item{
    gap: 2rem;
  }
}

@media screen and (min-width:1024px) {
  .cards{
    grid-template-columns: repeat(3, 1fr);
  }
  .container{
    padding: 0 4rem;
  }
}